<div class="best-seller">
<div class="container-fluid">
  <h2 class="text-left bld">BEST SELLERS</h2>
 <div class="row">
  <div class="col-md-6 bd-r">
     <div class="row">
  <div class="col-xs-5 pr-0">
    <div class="seller-img">
      <a href=""><img src="https://cdn.shopify.com/s/files/1/0495/0661/files/b1.png?v=1622717818"></a>
    </div>
  	
  </div>
  <div class="col-xs-7">
    <div class="p-area">
    <h4 class="text-left bld">Pro Barber Tools Kit, Modifier & Setter</h4>
    <p>About the product will go here in this 
section. About the product will go here in 
this section.About the product will go here.</p>
    </div>
        <div class="row">
          <div class="col-md-6">
            <ul class="star-list">
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
            </ul>
          </div>
          <div class="col-md-6"><div class="prc"><b>$ 34.95</b></div></div>
       </div>
            <div class="row">
          <div class="col-xs-6 pr-2">
            <a href="" class="add-btn">ADD TO CART</a>
          </div>
          <div class="col-xs-6 pl-2"> <a href="" class="learn-btn">LEARN MORE</a></div></div>
       </div>
</div>
  	
  </div>
  <div class="col-md-6 bd-l">
        <div class="row">
  <div class="col-xs-5 pr-0">
    <div class="seller-img">
      <a href=""> <img src="https://cdn.shopify.com/s/files/1/0495/0661/files/b2.png?v=1622717818"></a>
    </div>
  	
  </div>
  <div class="col-xs-7">
    <div class="p-area">
    <h4 class="text-left bld">n’hanceTM pro barber 
kit II</h4>
    <p>About the product will go here in this section. About the product 
will go here in this section.</p>
    </div>
        <div class="row">
          <div class="col-md-6">
            <ul class="star-list">
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
            </ul>
          </div>
          <div class="col-md-6"><div class="prc"><b>$ 34.95</b></div></div>
       </div>
            <div class="row">
          <div class="col-xs-6 pr-2">
            <a href="" class="add-btn">ADD TO CART</a>
          </div>
          <div class="col-xs-6 pl-2"> <a href="" class="learn-btn">LEARN MORE</a></div></div>

       </div>
</div>
  	    <ul class="bt-spc" style="display:none;">
      <li> <a href="">Looking for more?</a></li>
      <li><a href="" class="view-btn">VIEW ALL PRODUCTS</a></li>
    </ul>
   </div>
</div>
  </div>
  </div>