<div class="blk-bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6"><h3>Want to learn or see more?</h3></div>   
      <div class="col-xs-6 pl-0">
        <div class="yout">
          <img src="https://cdn.shopify.com/s/files/1/0495/0661/files/yout.png?v=1622726088" class="you-m">
          <p>Subscribe to our youtube for instructions, video how to’s + exclusive cuts using our tools</p>
        </div>
      </div>
    </div>
  </div>  
</div>
 


