<div class="b-news">
  <div class="container-fluid">
    <div class="row">
      <div class="symbol-icon">
    <img src="https://cdn.shopify.com/s/files/1/0495/0661/files/symbol.png?v=1622717818">
    </div>
      <h2>sign up and receive 10% off your first order</h2>
      <p>subscribe to our newsletter to hear about
the latest news, promotions and more.</p>
      <div class="newsletter-box btm">
        <input type="text" placeholder="Enter your email">
          <input type="submit" value="Sign Up">
        </div>
      <span>by signing up to our newsletter you are agreeing to our privacy policy.
Please note: only new subscribers and customers will receive an email.</span>
    </div>
  </div>
</div> 