
<div class="our-bgz">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="qualities">
        <img src="https://cdn.shopify.com/s/files/1/0495/0661/files/o1.png?v=1622717818">
        <h4>locals only</h4>
        <p>We believe in a thought-provoking force.</p>
      </div>
         <div class="qualities">
        <img src="https://cdn.shopify.com/s/files/1/0495/0661/files/o2.png?v=1622717818">
         <h4>a revolitionary perspective</h4>
        <p>We believe in believing.</p>
      </div>
         <div class="qualities">
        <img src="https://cdn.shopify.com/s/files/1/0495/0661/files/o3.png?v=1622717818">
           <h4> audacity is in our roots</h4>
           <p>We believe in having guts.  </p>

      
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-6">
      <div class="our-content">
      <h2>OUR STORY</h2>
        <p>A California-based company. We started in Sacramento in 2012, opening with our first  barbershop in 2015. Five years later - we’re creating experiences in two cities, with three barber studios and a team of barbers. Expanding online - our ten idea-makers carry our vision to the pixelated stratosphere. </p>
        <a href="">LEARN MORE</a>
        <div class="sig">
        <img src="https://cdn.shopify.com/s/files/1/0495/0661/files/signature.png?v=1622717818">
          <span>CHUKA  TORRES, CEO</span>
        </div>
      </div></div>
  </div> 
</div>
</div>