<div class="logo-bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-3">
        <div class="bd-bg">
        Available At
        </div>
      </div>
      <div class="col-xs-3">
      <img src="https://cdn.shopify.com/s/files/1/0495/0661/files/av1.png?v=1622717818">
      </div>
      <div class="col-xs-3">
       <img src="https://cdn.shopify.com/s/files/1/0495/0661/files/av2.png?v=1622717818">
      </div>
      <div class="col-xs-3">
       <img src="https://cdn.shopify.com/s/files/1/0495/0661/files/av3.png?v=1622717818">
      </div>
    </div>
  </div>
</div>