<div class="routine-area">
<h5>COMPLETE YOUR ROUTINE</h5>
  <div class="row">
    <div class="col-xs-3 pr-0">
<img src="https://cdn.shopify.com/s/files/1/0495/0661/files/w2.png?v=1622717818">
    </div>
    <div class="col-xs-9">
      <div class="diet-a">
        <span>Want a healthy beard?</span>
<span>The Rich Barber <b>Beard Oil</b></span>
<p class="gry"> $25.99</p>
        <a href="" class="add-btn this">ADD THIS</a>
      </div></div>
    </div>
  </div>

