<div class="wht-bg">
    <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="p-box">
              <a href="">
                <img src="https://cdn.shopify.com/s/files/1/0495/0661/files/p1.png?v=1622717819">
              <h4>Hair</h4></a></div> 
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="p-box">
                   <a href=""> 
                     <img src="https://cdn.shopify.com/s/files/1/0495/0661/files/p2.png?v=1622717818">
                    <h4>Beard</h4></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                 <div class="p-box">
                   <a href="">
                    <img src="https://cdn.shopify.com/s/files/1/0495/0661/files/p3.png?v=1622717818">
                  <h4>Tools</h4></a>
                 </div>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-6">
                  <div class="p-box">
                    <a href="">  
                      <img src="https://cdn.shopify.com/s/files/1/0495/0661/files/p4.png?v=1622717818">
                      <h4>Accessories</h4>
                    </a></div>
             </div>
           </div>
     </div>  
</div>