<div class="co-founder">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-5"></div>
       <div class="col-xs-7">
         <h2>
from CEO,
           <span> Chuka Torres</span></h2>
         <p> The Rich Barber has created many opprotunities and launched a variety of innovative tools for both the barber, and the consumer. By bringing industry demanded products..right to your home.</p>

<p>“Our idea is not just about selling a product, it’s about educating them with our  innovations and services.”</p>

<p>our mission: learn, attract, prosper.
  Rich mindsets create rich outcomes.</p>
         <p class="clearfix">
<div class="sig f-rt clearfix">
  <img src="https://cdn.shopify.com/s/files/1/0495/0661/files/sig-blk.png?v=1627154704"> <span>CHUKA TORRES</span>
 

        </div> </p>
               <ul class="social-barz">
                  <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
           <li><a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>    
           <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
           <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
         </ul>
      </div>
    </div>
  </div>
</div>
<div class="vid-bt">
<div class="container-fluid">
<iframe class="bt-video" width="100%"  src="https://www.youtube.com/embed/Do0qxxBvGdo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
  </div>
  {% schema %}
  {
    "name": "About Video Section",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
