<div class="best-seller">
   <div class="container-fluid">
     {%- for block in section.blocks -%}
      <a href="{{ collections[block.settings.collection].url }}">
        <h2 class="text-left bld">  {{ collections[block.settings.collection].title }}</h2>
      </a>
      {%- endfor -%}
     
      <div class="row">
         <div class="best-seller-slider recommend-slider">
           {% render 'product-collection-block' %}
         </div>
      </div>
   </div>
</div>

{% schema %}
{
   "name": "Product Best Seller",
   "settings": [
      {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show title",
      "default": true
      },
      {
      "type": "text",
      "id": "main_heading",
      "default": "RECOMMENDED FOR YOU",
      "label": "Heading Title"
      },
      {
      "type": "text",
      "id": "btn-title",
      "default": "ADD TO CART",
      "label": "Button Title"
      }
      
   ],
   "blocks": [
      {
         "type": "collection",
         "name": "Collection",
         "limit": 1,
         "settings": [
            {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
            }

         ]
      }
   ],
   "presets": [
      {
      "name": "Product Best Seller",
      "category": "All Sections"
      }
   ]
}
{% endschema %}