<div class="freq-bt">
  <div class="container-fluid">
<h2>Frequently bought together</h2>
    <div class="row">
      <div class="col-xs-4">
        <div class="bt-s">
          <a href="#" tabindex="0"> <img src="https://cdn.shopify.com/s/files/1/0495/0661/files/freq-1.jpg?v=1625142962" alt="Pro Rich Shampoo + Conditioner Set"></a>
                <a href="#" tabindex="0"> 
                <h5>THE RICH BARBER METHOD BY CHUKA TORRES</h5>
                </a>
                 <ul class="star-list clearfix">
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                 </ul>
                 <span>(277)</span>
             <div class="pr">$ 37.95 </div>
           </div>
      </div>
      <div class="col-xs-4 d-none">
        <img src="https://cdn.shopify.com/s/files/1/0495/0661/files/plus.svg?v=1625143030" class="left-ig">
           <div class="bt-s">
             <a href="#" tabindex="1">   <img src="https://cdn.shopify.com/s/files/1/0495/0661/files/freq-2.jpg?v=1625142962" alt="Pro Rich Shampoo + Conditioner Set"></a>
              <a href="#" tabindex="0"> 
              <h5>Pro Barber kit II, Advanced </h5>
              </a>
            
               <ul class="star-list clearfix">
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
               </ul>
               <span>(277)</span>
           <div class="pr">$ 37.95</div>
              </div>
        <img src="https://cdn.shopify.com/s/files/1/0495/0661/files/plus.svg?v=1625143030" class="right-ig">
      </div>
      <div class="col-xs-4 d-none">
           <div class="bt-s">
             <a href="#" tabindex="2">    <img src="https://cdn.shopify.com/s/files/1/0495/0661/files/freq-3.jpg?v=1625142962" alt="Pro Rich Shampoo + Conditioner Set"></a>
              <a href="#" tabindex="0"> 
              <h5>360° BARBER CAPE</h5>
              </a>
            
               <ul class="star-list clearfix">
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
               </ul>
               <span>(277)</span>
           <div class="pr">
                 $ 37.95

                </div>
              </div>
      </div>
      
      
    </div>
    <a href="" class="bundle-btn">BUNDLE<span>+ SAVE 10%</span></a>
 </div>   
   </div>
{% schema %} 
  {
    "name": "Frequently bought section",
    "settings": [
		{
        "id":"heading",
        "type":"text",
        "label":"Main heading",
		"default":"HOW TO USE"
        },
		
	    {
        "id":"paragraph",
        "type":"richtext",
        "label":"How to use message",
         "default":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Risus commodo viverra maecenas accumsan lacus vel facilisis. Risus commodo viverra maecenas accumsan lacus vel facilisis. lacus vel facilisis. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>"
        },
		{
        "type": "image_picker",
        "id": "logo1",
        "label": "First Icon Image",
        "info": "196 x 152px recommended"
       },
		{
        "id":"title1",
        "type":"text",
        "label":"Title One",
		"default":"BARBER DESIGNED"
        },
		{
        "id":"desc1",
        "type":"richtext",
        "label":"Text One",
         "default":"<p>DESIGNED TO SIMPLIFY THE AT HOME EXPERIENCE, BY AN INDUSTRY PROFESSIONAL</p>"
        },
		
        {
        "type": "image_picker",
        "id": "logo2",
        "label": "Second Icon Image",
        "info": "196 x 152px recommended"
       },
		{
        "id":"title2",
        "type":"text",
        "label":"Title Two",
		"default":"FOR DETAILS"
        },
		{
        "id":"desc2",
        "type":"richtext",
        "label":"Text Two",
         "default":"<p>USE THE RAZOR HOLDER TO GET CLOSER DETAIL WORK, LIKE LINE-UPS</p>"
        },
		
        {
        "type": "image_picker",
        "id": "logo3",
        "label": "Third Icon Image",
        "info": "196 x 152px recommended"
       },
		{
        "id":"title3",
        "type":"text",
        "label":"Title Three",
		"default":"BARBER DESIGNED"
        },
		{
        "id":"desc3",
        "type":"richtext",
        "label":"Text Three",
         "default":"<p>DESIGNED TO SIMPLIFY THE AT HOME EXPERIENCE, BY AN INDUSTRY PROFESSIONAL</p>"
        }
		
	]
  }
{% endschema %}