<p>Customer question section here</p>
{% schema %}
  {
    "name": "Section Customer Question",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
 
{% javascript %}
{% endjavascript %}
