
<div class="studio-banner">
<img src="https://cdn.shopify.com/s/files/1/0495/0661/files/studio-header_1000x_cd946c18-3525-4325-b7cf-d8791839ed52.jpg?v=1633249541" class="img-responsive">
</div>
<div class="central content">
   <h1 class="feature-header" data-cc-animate>{{ page.title }}</h1>
   <div class="rte" data-cc-animate data-cc-animate-delay="0.2s">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-4">
               <div class="image-text__container gutter--on">
                  <h2>West Hollywood</h2>
                  <p>
                     ADDRESS:<br>
                     8310 Beverly Blvd.<br>
                     West Hollywood, CA 90048
                  </p>
                  <p>
                     HOURS:<br>
                     Monday - Saturday | 9am - 6pm<br>
                     Closed on Sundays
                  </p>
                  <p>
                     PHONE:<br>
                     (323) 272-3476
                  </p>
                  <p>
                     BOOKING LINK:<br>
                     <a href="https://shops.getsquire.com/book/the-rich-barber-west-hollywood-west-hollywood/barber" target="_blank" class="dont-break-out">https://shops.getsquire.com/book/the-rich-barber-west-hollywood-west-hollywood/barber</a>
                  </p>
                  <a href="https://goo.gl/maps/f7QdaLd2kDk1FVJv7" target="_blank" class="directions">
                    <img class="direc-icon" src="https://cdn.shopify.com/s/files/1/0495/0661/files/direction.png?v=1633248790">
                    Directions</a>
                  <br><br>
               </div>
            </div>
            <div class="col-md-4">
               <div class="image-text__container gutter--on">
                  <h2>SACRAMENTO, 2500</h2>
                  <p>
                     ADDRESS:<br>
                     2500 J Street<br>
                     Sacramento, CA 95816
                  </p>
                  <p>
                     HOURS:<br>
                     Tuesday - Saturday | 9am - 6pm<br>
                     Closed on Mondays + Sundays
                  </p>
                  <p>
                     PHONE:<br>
                     (916) 758-5712
                  </p>
                  <p>
                     BOOKING LINK:<br>
                     <a href="https://shops.getsquire.com/book/the-rich-barber-sacramento-2500-sacramento/barber" target="_blank" class="dont-break-out">https://shops.getsquire.com/book/the-rich-barber-sacramento-2500-sacramento/barber</a>
                  </p>
                  <a href="https://goo.gl/maps/VNiw5ou8wZMjNvZ27" target="_blank" class="directions">
                     <img class="direc-icon" src="https://cdn.shopify.com/s/files/1/0495/0661/files/direction.png?v=163324879">
                    Directions</a>
               </div>
            </div>
            <div class="col-md-4">
               <div class="image-text__container gutter--on">
                  <h2>SACRAMENTO, 2504</h2>
                  <p>
                     ADDRESS:<br>
                     2504 J Street<br>
                     Sacramento, CA 95816
                  </p>
                  <p>
                     HOURS:<br>
                     Tuesday - Saturday | 9am - 6pm<br>
                     Closed on Mondays + Sundays
                  </p>
                  <p>
                     PHONE:<br>
                     (916) 758-5712
                  </p>
                  <p>BOOKING LINK:<br>
                     <a href="https://shops.getsquire.com/book/the-rich-barber-sacramento-2504-sacramento/barber" target="_blank" class="dont-break-out">https://shops.getsquire.com/book/the-rich-barber-sacramento-2504-sacramento/barber</a>
                  </p>
                  <a href="https://goo.gl/maps/BNCheUB6imef3GZd6" target="_blank" class="directions">
                     <img class="direc-icon" src="https://cdn.shopify.com/s/files/1/0495/0661/files/direction.png?v=163324879">
                    Directions</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>