<div class="central content">
  <h1 class="feature-header" data-cc-animate>{{ page.title }}</h1>

  <div class="rte" data-cc-animate data-cc-animate-delay="0.2s">
<!--     {{ page.content }} -->
    {% section  'section-about-banner' %}  
    {% section  'section-about-our-purpose' %}  
    {% section  'section-our-philosphy' %} 
    {% section  'section-our-products' %}   
    {% section  'section-our-story' %}  
    {% section  'section-our-values' %} 
    {% section  'section-our-values' %}    
    {% section  'section-video' %}







    
  </div>
</div>
